*{
  margin: 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to left, #A626D3,#672280);
  color: white;
  height: 75px;
  padding: 10px 67px;
}
.navbar > p {
  font-weight: 300;
}

.navbar-logo{
  display: flex;
}
.navbar-logo > h4 {
  padding-left: 10px;
}

.form{
  padding: 0px 67px;
}
.form--user{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
}
.form---input{
  display: flex;
  flex-direction: column; 
  width: 48%;
  margin: 15px 0px;
}
.form---input > label {
  font-size: 14px;
   color: #374151;
   padding-bottom: 4px;
}
.form---input > input{
  padding: 10px;
  border-radius: 6px;
  border-style: none;
  border: 0.819px solid #D1D5DB;
}
.form---button {
  width: 100%;
  border-style: none;
  height: 50px;
  cursor: pointer;
  background: linear-gradient(to left, #A626D3,#672280);
  color: white;
  font-size: 16px;
  border-radius: 6px;
}
.meme > img {
  width: 100%;
  padding-top: 32px;
}
.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}
.bottom {
    bottom: 0;
}

.top {
    top: 0;
}